*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Lato;
	font-size: 15;
}

/*referencia
https://www.metopera.org/*/

body{
	background: #313D52;
}

/*para que la barra de arriba no se mueva*/
header{
	background-color: white;
	position: fixed;
	width: 100%;
}

footer{
	background-color: black;
	color: white;
	width: 100%;
	position: absolute;
}

/*logos del ensamble*/
.logo{
	height: 20px;
	margin: 10px;
	filter: invert(1);
}

/*seccion-1 es para titulos, seccion-2 es para información,
contenedor es un fondo semitransparente para que el texto se vea más bonito*/
.seccion-1, .seccion-2{
	color: white;
	padding: 10px 20px;
}

.seccion-1{
	padding-top: 50px;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
}

.seccion-2{
	font-size: 12px;
}

.contenedor{
	top: 90px;
	width: 40%;
	position: fixed;
	border-radius: 15px;
	background-color: rgba(49,61,82,.5);
}

/*clase exclusiva para centrar algo*/
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*para que las imagenes ocupen todo el espacio*/
.foto {	
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	position: relative;
}

.patrocinadores{
	height: 50px;
	margin: 20px;
}

.perfil{
	width: 20%;
	height: 500px;
	margin: 2% 2.5%;
	float: left;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	text-align: center;
}

.nombre{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	margin: 10px 20px;
	margin-top: 20px;
}

.tesitura{
	font-family: Lato;
	font-size: 15px;
	margin: 25px;
}

.linea{
	/*color: rgb(247,67,74);*/
	color: green;
	font-size: 10px;
}

.integrante{
	width: 100%;
}

.btn{
	padding: 5px 15px;
	font-size: 12px;
	background-color: rgba(0,128,0,.5);
	color: white;
	text-decoration: none;
	transition: all .2s;
	border-radius: 15px;
}

.btn:hover{
	cursor: pointer;
}

.btn:active{
	background-color: green;
}

.red{
	height: 50px;
	transition: all .5s;
	filter: invert(1);
	margin: 10px;
}

.red:hover{
	filter: invert(0);
}

input{
	border-radius: 15px;
	text-align: center;
	font-size: 10px;
	margin: 10px;
	width: 400px;
	height: 30px;
}

.mapa{
	width: 20%;
	height: 350px;
	margin: 2% 2.5%;
	float: left;
	border-radius: 15px;
	overflow: hidden;
	background-color: white;
	text-align: center;
}

.muchotexto{
	color: white;
	margin: 10px;
}

.seleccionado{
	background-color: rgb(247,67,74);
	color: white;
	padding: 15px;
}

.menu{
	padding: 15px;
	text-decoration: none;
	color: black;
}

.menu:hover{
	color: rgb(247,67,74);
}

/*para que no hagas clic sobre el mismo apartado*/
.seleccionado:hover{
	cursor: default;
}